/*GENERAL*/
body {
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
    font-size: 16px;
}

h3 {
    margin: 0px 0px 0px 0px;
    padding: 0;
}

p {
    margin: 8px;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

a:hover {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    cursor: pointer;
}

.container-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-row-gap: 40px;
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    background-color: rgb(63, 63, 63);
    display: flex;
    border-radius: 30px;
    height: 200px;
    padding: 0;
    -webkit-box-shadow: 10px 15px 23px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 15px 23px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 15px 23px -14px rgba(0, 0, 0, 0.75);
}

.card-body img {
    border-radius: 30px 0 0 30px;
    height: 100%;
    object-fit: cover;
}

.card-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
}

.card-texto a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    font-size: 15px;
}
.icono_heart {
    margin-top: 8px;
    margin-left: 20px;
    font-size: 22px;
    cursor: pointer;
}

.icon_green{
    color: aquamarine;
}
.icon_green_dark {
    color: rgb(8, 145, 99);
    font-weight: 700;
    animation: efect_shake 0.8s linear both
}

.efect_shake {
    animation: efect_shake .7s linear both
}

@keyframes efect_shake {
    0% {
        transform: scale3d(1, 1, 1)
    }

    30% {
        transform: scale3d(.75, 1.25, 1)
    }

    40% {
        transform: scale3d(1.25, .75, 1)
    }

    50% {
        transform: scale3d(.85, 1.15, 1)
    }

    65% {
        transform: scale3d(1.05, .95, 1)
    }

    75% {
        transform: scale3d(.95, 1.05, 1)
    }

    100% {
        transform: scale3d(1, 1, 1)
    }
}
/* ///////////////////////////////////////// */

.card-texto p strong {
    font-weight: 900;
    font-size: 20px;
}

.container-single {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.card-body-single {
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: flex-start;
    border-radius: 30px;
    width: 1200px;
    height: 400px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 10px 15px 23px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 15px 23px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 15px 23px -14px rgba(0, 0, 0, 0.75);
}

.card-body-single img {
    border-radius: 30px 0 0 30px;
    height: 100%;
    object-fit: cover;
}

.card-body-single .card-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
    margin: 0;
    margin-left: 40px;
    font-size: 20px;
}

.card-body-single .card-texto p strong {
    font-size: 30px;
}

.navColor {
    background-color: rgba(0, 0, 0, 0.822);
}

/* // EFECTO HOME */

.efecto:hover {
    animation: efecto 0.4s linear both;
    animation: efecto 0.4s linear both;
}

@keyframes efecto {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    100% {
        box-shadow: -12px -12px 20px -12px rgba(79, 231, 173, 0.7);
    }

    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

/* // EFECTO ONE CHARACTER */

.efecto-single {
    animation: efecto-single 0.4s linear both;
    animation: efecto-single 0.4s linear both;
}

@keyframes efecto-single {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    100% {
        box-shadow: -12px -12px 20px -12px rgba(79, 231, 173, 0.7);
    }

    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

.container-fav {
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    margin-left: auto;
    margin-right: auto;
}

.card-body-fav {
    background-color: rgb(70, 70, 70);
    display: flex;
    border-radius: 30px;
    width: 400px;
    height: 200px;
    padding: 0;
    -webkit-box-shadow: 10px 15px 23px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 15px 23px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 15px 23px -14px rgba(0, 0, 0, 0.75);
}

.card-body-fav img {
    border-radius: 30px 0 0 30px;
    height: 100%;
    object-fit: cover;
}

.card-body-fav .card-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0;
    margin-left: 10px;
    font-size: 20px;
}

.card-body-fav .card-texto p strong {
    font-size: 20px;
}

.button-fav {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    background-color: rgb(79, 231, 173);
    font-weight: 700;
}

.green {
background-color: rgb(79, 231, 173);;
}

.green_dark {
    background-color: rgb(32, 121, 85);
    color: white;
}

.title_fav {
    margin: 40px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}



.icon_trash {
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
}

.button-pagination {
    background-color: rgb(32, 121, 85);
    padding: 10px;
    border: none;
    font-weight: 700;
    margin: 5px;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
}